  <a ng-show="homeCtrl.titleIsSet == false" ng-click="homeCtrl.titleIsSet = true; homeCtrl.titleIsVisible = true"  class="button button-small button-light"><i class="icon ion-ios-minus-outline"></i> Title </a>
        <a ng-show="homeCtrl.titleIsSet == true" ng-click="homeCtrl.titleIsSet = false"  class="button button-small button-royal"><i class="icon ion-ios-color-wand"></i> Title </a>


        <a ng-show="homeCtrl.categoryIsSet == false" ng-click="homeCtrl.categoryIsSet = true; homeCtrl.categoryIsVisible = true" class="button button-small button-light"><i class="icon ion-ios-minus-outline"></i> Category</a> 
        <a ng-show="homeCtrl.categoryIsSet == true" ng-click="homeCtrl.categoryIsSet = false" class="button button-small button-royal"><i class="icon ion-ios-color-wand"></i> Category</a> 


        <a ng-show="homeCtrl.inspirationIsSet == false" ng-click="homeCtrl.inspirationIsSet = true; homeCtrl.inspirationIsVisible = true" class="button button-small button-light"><i class="icon ion-ios-minus-outline"></i> Inspiration</a> 
        <a ng-show="homeCtrl.inspirationIsSet == true" ng-click="homeCtrl.inspirationIsSet = false" class="button button-small button-royal"><i class="icon ion-ios-color-wand"></i> Inspiration</a> 
        
        <a ng-show="homeCtrl.problemIsSet == false" ng-click="homeCtrl.problemIsSet = true; homeCtrl.problemIsVisible = true" class="button button-small button-light"><i class="icon ion-ios-minus-outline"></i> Problem</a> 
        <a ng-show="homeCtrl.problemIsSet == true" ng-click="homeCtrl.problemIsSet = false" class="button button-small button-royal"><i class="icon ion-ios-color-wand"></i> Problem</a> 
        <br />  <br />
        
        <a ng-show="homeCtrl.solutionIsSet == false" ng-click="homeCtrl.solutionIsSet = false; homeCtrl.solutionIsVisible = true" class="button button-small button-light"><i class="icon ion-ios-minus-outline"></i>  Solution</a> 
        <a ng-show="homeCtrl.solutionIsSet == true" ng-click="homeCtrl.solutionIsSet = false" class="button button-small button-royal"><i class="icon ion-ios-color-wand"></i>  Solution</a> 
        
        <a ng-show="homeCtrl.contactIsSet == false" ng-click="homeCtrl.contactIsSet = true; homeCtrl.contactIsVisible = true" class="button button-small button-light"><i class="icon ion-ios-minus-outline"></i>  Contact</a> 
        <a ng-show="homeCtrl.contactIsSet == true" ng-click="homeCtrl.contactIsSet = false" class="button button-small button-royal"><i class="icon ion-ios-color-wand"></i>  Contact</a> 
  </div>