<ion-view title="Thanks!">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/a0ZQQYb4QGOvtfDD4zwy_bg.png) no-repeat center;" class="has-header">
         <img src="img/logo.png" class="headerImage" />
         <div class="card rounder-point-topleft">
  		<div class="item item-text-wrap ">
         <p>Idea submitted. The servers are burning up processing this submission. If you left contact information, we'll reach out to discuss it further.</p>
        </div></div>
        
        <a ui-sref="home" class="button button-stable button-block ">Submit a New Idea</a>
    </ion-content>
</ion-view>